.background-image {
  height: 324px;
  width: 100%;
  background: linear-gradient(0deg, #0003, #0003), linear-gradient(0deg, #0cc355bf, #0cc355bf),
    url("/images/hotel-banner.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 48px;
  color: white;
  position: relative;
}

.rating {
  background: white;
  color: #ffca0f;
  position: absolute;
  bottom: -1.8rem;
  font-size: 2.3rem;
  padding: 12px 24px 16px;
  box-shadow: 0 4px 16px #0e053414;
  border-radius: 8px;
  @apply flex sm:hidden;
}
