.bg-subscribe {
  background-color: #f8f7f2;
  @apply mx-auto rounded-lg py-12 px-6 sm:px-32;
}

.bg-subscribe > h3 {
  font-size: 32px;
  font-weight: 900;
  color: #4b5563;
  margin-bottom: 25px;
}

.bg-subscribe > p {
  color: #6b7280;
  font-weight: 400;
  text-justify: newspaper;
}

.email-section {
  display: block;
  max-width: 450px;
  overflow: hidden;
  @apply relative mx-auto mt-10 rounded-full;
}

.email-input {
  display: block;
  padding: 1.125rem 4.0625rem 1.125rem 8.5rem;
  width: 100%;
  max-width: 100%;
  @apply mx-auto bg-white text-lg text-gray-500;
}

.email-input:focus {
  outline: none;
}

.email-icon {
  top: 1.3rem;
  right: 1.55rem;
  @apply absolute;
}

.email-separator {
  top: 1.45rem;
  right: 3.5rem;
  @apply absolute h-5;
}

.btn-subscribe {
  left: 0.75rem;
  top: 0.55rem;
  @apply absolute rounded-full p-3 px-4;
}
