.stepper li span {
  font-size: 20px;
  font-weight: 500;
}

.stepper li p {
  font-size: 16px;
  padding: 0 20px;
}

.stepper li {
  list-style-type: none;
  float: left;
  width: 33.33%;
  position: relative;
}

.stepper li::before {
  width: 80px;
  height: 80px;
  line-height: 100px;
  display: block;
  margin: 0 auto 10px;
  border-radius: 50%;
  background-color: white;
  color: #ff802e;
  z-index: 3;
}

.stepper li::after {
  content: "";
  position: absolute;
  width: calc(100% - 120px);
  height: 2px;
  background: #fff;
  opacity: 0.4;
  top: 40px;
  left: calc(-50% + 60px);
}

.stepper li:first-child::after {
  content: none;
}

.stepper li:nth-child(1)::before {
  content: url("data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2227%22%20viewBox%3D%220%200%2030%2027%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M10.5%2023.4358H15V14.6854L9%209.64715L3%2014.6854V23.4358H7.5V17.658H10.5V23.4358ZM28.5%2026.3247H1.5C1.10218%2026.3247%200.720644%2026.1725%200.43934%2025.9016C0.158035%2025.6308%208.98055e-09%2025.2634%208.98054e-09%2024.8803V14.0282C-2.34432e-05%2013.8218%200.0458863%2013.6178%200.134637%2013.4299C0.223387%2013.242%200.352916%2013.0746%200.5145%2012.939L6%208.33271V1.76915C6%201.38606%206.15804%201.01866%206.43934%200.747775C6.72064%200.476889%207.10218%200.324707%207.5%200.324707H28.5C28.8978%200.324707%2029.2794%200.476889%2029.5607%200.747775C29.842%201.01866%2030%201.38606%2030%201.76915V24.8803C30%2025.2634%2029.842%2025.6308%2029.5607%2025.9016C29.2794%2026.1725%2028.8978%2026.3247%2028.5%2026.3247ZM21%2011.8803V14.7692H24V11.8803H21ZM21%2017.658V20.5469H24V17.658H21ZM21%206.10248V8.99137H24V6.10248H21ZM15%206.10248V8.99137H18V6.10248H15Z%22%20fill%3D%22%23FF6D0F%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}

.stepper li:nth-child(2)::before {
  content: url("data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M1.93044%200.944698L12.9928%2011.8915L8.33532%2016.502L1.92879%2010.1624C0.693786%208.93993%200%207.28212%200%205.55355C0%203.82497%200.693786%202.16717%201.92879%200.944698H1.93044ZM18.4754%2014.5333L17.069%2015.9251L28.7144%2027.4489L26.3856%2029.7533L14.7402%2018.2311L3.09481%2029.7533L0.76606%2027.4489L16.1467%2012.2289C15.1783%209.85438%2016.1796%206.43523%2018.8147%203.82441C22.0311%200.643199%2026.463%20-0.130918%2028.7144%202.09691C30.9657%204.32474%2030.1834%208.71032%2026.9686%2011.8915C24.3303%2014.5023%2020.875%2015.4932%2018.4754%2014.5333Z%22%20fill%3D%22%23FF802E%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}

.stepper li:nth-child(3)::before {
  content: url("data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2228%22%20viewBox%3D%220%200%2030%2028%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M22.5%2024.4826H7.5V25.9037C7.5%2026.2805%207.34196%2026.642%207.06066%2026.9085C6.77936%2027.175%206.39782%2027.3247%206%2027.3247H3C2.60218%2027.3247%202.22064%2027.175%201.93934%2026.9085C1.65804%2026.642%201.5%2026.2805%201.5%2025.9037V13.1142H0V7.42997H1.5V3.16681C1.5%202.41304%201.81607%201.69014%202.37868%201.15714C2.94129%200.624142%203.70435%200.324707%204.5%200.324707H25.5C26.2956%200.324707%2027.0587%200.624142%2027.6213%201.15714C28.1839%201.69014%2028.5%202.41304%2028.5%203.16681V7.42997H30V13.1142H28.5V25.9037C28.5%2026.2805%2028.342%2026.642%2028.0607%2026.9085C27.7794%2027.175%2027.3978%2027.3247%2027%2027.3247H24C23.6022%2027.3247%2023.2206%2027.175%2022.9393%2026.9085C22.658%2026.642%2022.5%2026.2805%2022.5%2025.9037V24.4826ZM4.5%203.16681V13.1142H25.5V3.16681H4.5ZM8.25%2021.6405C8.84674%2021.6405%209.41903%2021.4159%209.84099%2021.0162C10.2629%2020.6164%2010.5%2020.0742%2010.5%2019.5089C10.5%2018.9436%2010.2629%2018.4014%209.84099%2018.0017C9.41903%2017.6019%208.84674%2017.3773%208.25%2017.3773C7.65326%2017.3773%207.08097%2017.6019%206.65901%2018.0017C6.23705%2018.4014%206%2018.9436%206%2019.5089C6%2020.0742%206.23705%2020.6164%206.65901%2021.0162C7.08097%2021.4159%207.65326%2021.6405%208.25%2021.6405ZM21.75%2021.6405C22.3467%2021.6405%2022.919%2021.4159%2023.341%2021.0162C23.7629%2020.6164%2024%2020.0742%2024%2019.5089C24%2018.9436%2023.7629%2018.4014%2023.341%2018.0017C22.919%2017.6019%2022.3467%2017.3773%2021.75%2017.3773C21.1533%2017.3773%2020.581%2017.6019%2020.159%2018.0017C19.7371%2018.4014%2019.5%2018.9436%2019.5%2019.5089C19.5%2020.0742%2019.7371%2020.6164%2020.159%2021.0162C20.581%2021.4159%2021.1533%2021.6405%2021.75%2021.6405Z%22%20fill%3D%22%23FF802E%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}
