$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 36px;
$hamburger-layer-height: 4px;
$hamburger-layer-spacing: 6px;
$hamburger-layer-color: none; // wrong value to disable property
$hamburger-types: (spin);

@import "~hamburgers/_sass/hamburgers/hamburgers.scss";
