.multi-truncate {
  display: block;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  white-space: normal;

  @for $i from 2 through 5 {
    &-#{$i} {
      -webkit-line-clamp: $i;
    }
  }
}
